<!-- File: templates/view_file.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{{ file_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>{{ file_title }}</h1>
      <label for="toggle-menu" class="menu-icon">&#9776;</label>
      <input type="checkbox" id="toggle-menu" />
    </header>

    <nav class="hop-menu">
      <ul>
        <li><a class="button" href="{{ home_url }}">Home</a></li>
        {% for s, title, fileurl in files_data %}
          <li><a class="button" href="{{ url_for('view_file', slug=s) }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <section class="viewer">
      {% if embed_url %}
        <iframe src="{{ embed_url }}"></iframe>
      {% else %}
        <p>No embed URL available.</p>
      {% endif %}

      <!-- <a href="{{ url_for('view_file_qr_only', slug=slug) }}" target="_blank">
        <img src="{{ qr_code_data_uri }}" alt="QR Code" class="qr-code">
      </a> -->
    </section>
  </body>
</html>
